@page
@model AdminEditUserProfileModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticatedAdmin" : "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AddItemStyleSheet.css" />
}

<div class="item-form-container">
    <h2>Edit User Profile</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="User.UserId" />

        <div class="form-group">
            <label asp-for="User.ProfilePictureURL">Profile Picture URL</label>
            <input asp-for="User.ProfilePictureURL" class="form-control" />
            <span asp-validation-for="User.ProfilePictureURL" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="User.FirstName">First Name</label>
            <input asp-for="User.FirstName" class="form-control" />
            <span asp-validation-for="User.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.LastName">Last Name</label>
            <input asp-for="User.LastName" class="form-control" />
            <span asp-validation-for="User.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Username">Username</label>
            <input asp-for="User.Username" class="form-control" />
            <span asp-validation-for="User.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Email">Email</label>
            <input asp-for="User.Email" class="form-control" />
            <span asp-validation-for="User.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Password">New Password</label>
            <input asp-for="User.Password" type="password" class="form-control" />
            <span asp-validation-for="User.Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>

</div>
