@page
@model SFAMarketplaceWEB.Pages.Account.Menus.EditAccountModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AddItemStyleSheet.css" />
}

<div class="item-form-container">
    <h2>Edit User</h2>
    <div asp-validation-summary="All" class="text-danger"></div>

    @if (!ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>Validation error(s):</strong>
            <ul>
                @foreach (var modelState in ViewData.ModelState.Values)
                {
                    foreach (var error in modelState.Errors)
                    {
                            <li>@error.ErrorMessage</li>
                    }
                }
            </ul>
        </div>
    }

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="User.FirstName"></label>
            <input asp-for="User.FirstName" class="form-control" />
            <span asp-validation-for="User.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.LastName"></label>
            <input asp-for="User.LastName" class="form-control" />
            <span asp-validation-for="User.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Username"></label>
            <input asp-for="User.Username" class="form-control" />
            <span asp-validation-for="User.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Email"></label>
            <input asp-for="User.Email" class="form-control" />
            <span asp-validation-for="User.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Password"></label>
            <input type="password" value="User.Password" readonly class="form-control" />
            <span asp-validation-for="User.Password" class="text-danger"></span>
        </div>

        
        <button type="submit" class="btn btn-primary">Update</button>

    </form>
    <form method="post" asp-page-handler="Delete">
        <input type="hidden" name="userId" value="@Model.User.UserId" />
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');"><i class="bi bi-trash"></i>Delete</button>

    </form>
</div>