@page
@using System.Security.Claims
@model SFAMarketplaceWEB.Pages.Account.Menus.EditProfileModel

@{
    Layout = User.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == "Admin") ?
             "_LayoutAuthenticatedAdmin" :  // Admin-specific layout
             "_LayoutAuthenticated";        // Regular user layout
}
@section Styles {
    <link rel="stylesheet" href="~/css/AddItemStyleSheet.css" />

}

<div class="item-form-container">

    <h2 class="text-center">Update Your Password</h2>
    <div asp-validation-summary="All" class="text-danger"></div>

 
    <form method="post">
        <div class="form-group">
            <label asp-for="updatedPassword.OldPassword">Old Password:</label>
            <input asp-for="updatedPassword.OldPassword" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="updatedPassword.NewPassword">New Password:</label>
            <input asp-for="updatedPassword.NewPassword" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="updatedPassword.ConfirmPassword">Confirm Password:</label>
            <input asp-for="updatedPassword.ConfirmPassword" class="form-control" />
        </div>


        <button type="submit" class="btn btn-primary">Update Password</button>
</form>
