@page
@using System.Security.Claims
@model SFAMarketplaceWEB.Pages.Account.Menus.PostedItemsModel

@{
    Layout = User.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == "Admin") ?
             "_LayoutAuthenticatedAdmin" :  // Admin-specific layout
             "_LayoutAuthenticated";        // Regular user layout
}

@section Styles {
    <link rel="stylesheet" href="~/css/PostedItemsStyleSheet.css" />
}



<h2>Posted Items</h2>



<form method="post">
    <div class="row m-2">
        <div class="col-2">
            <label class="form-label">Category</label>
        </div>
        <div class="col-8">
            <select asp-for="SelectedCategoryID" asp-items="Model.Categories" class="form-control"></select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" id="btnView"><i class="bi bi-list"></i> Display</button>
        </div>
    </div>
</form>

<div class="container mt-3">
    <div class="row">
        @foreach (var item in Model.items)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (!string.IsNullOrEmpty(item.ItemPhotoURL1))
                    {
                        <a asp-page="ViewItem" asp-route-itemId="@item.ItemID">
                            <img src="@item.ItemPhotoURL1" alt="Item Image" class="card-img-top" />
                        </a>
                    }
                    else
                    {
                        <div class="image-placeholder">
                            No Image Available
                        </div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.ItemName</h5>
                        <p class="card-text">Price: @item.ItemPrice.ToString("C2")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
