@page
@model SFAMarketplaceWEB.Pages.Account.Menus.PostedItemsModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/PostedItemsStyleSheet.css" />
}

<h2>Posted Items</h2>

<form method="post">
    <div class="row m-2">
        <div class="col-2">
            <label class="form-label">Category</label>
        </div>
        <div class="col-8">
            <select asp-for="SelectedCategoryID" asp-items="Model.Categories" class="form-control"></select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" id="btnView">Display</button>
        </div>
    </div>
</form>

<div class="container mt-3">
    <div class="row">
        @foreach (var item in Model.items)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="image-placeholder">
                        Image Placeholder
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.ItemName</h5>
                        <p class="card-text">Price: @item.ItemPrice.ToString("C2")</p>
                        <a asp-page="EditItem" asp-route-id="@item.ItemID" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

