@page
@model SFAMarketplaceWEB.Pages.Account.Menus.ViewServiceModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ViewItemStyleSheet.css" />
}


<div class="container mt-5">
    <div class="item-detail-box shadow-lg p-4 mb-5 rounded">
        <h2 class="text-center">@Model.Service.ServiceName</h2>


        <div class="item-info text-center my-4">
            <p><strong>Description:</strong> @Model.Service.ServiceDescription</p>
            <p><strong>Price:</strong> $@Model.Service.ServiceRate.ToString("0.00")</p>
            <p><strong>Posted By:</strong> @Model.PostedBy</p>
            <p><strong>Date Posted:</strong> @Model.Service.DatePosted.ToString("MMMM dd, yyyy")</p>
        </div>

        <div class="text-center">
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</div>

