@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SFA Marketplace</h1>
    <p>Here is filler text for now. Enjoy!</p>
</div>
