@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";

}
@section Styles {
    <link rel="stylesheet" href="~/css/Index.css" />
}


<div class="text-center">
    <h1 class="text-5xl font-bold">Welcome to SFA Marketplace</h1>

    <h3 class="py-6">A one-stop shop for all your marketplace needs!</h3>

</div>

<div class="container mt-3">
    <div class="row">
        @foreach (var item in Model.items)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="image-placeholder">
                        Image Placeholder
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.ItemName</h5>
                        <p class="card-text">Price: @item.ItemPrice.ToString("C2")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>