@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SFA Marketplace</h1>

    <br />
    <p>In testing:</p>
    <a asp-area="" asp-page="/Account/Menus/AddItem" class="btn btn-primary">Add Items</a>
    <a asp-area="" asp-page="/Account/Menus/PostedItems" class="btn btn-primary">Posted Items</a>

</div>
