@page
@model PrivacyModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";

    ViewData["Title"] = "Privacy Policy";
}

<div class="p-6 m-6 rounded-lg shadow-lg bg-base-200 text-center">
    <h1 class="text-5xl font-bold">Privacy Policy</h1>

    <p class="py-6">We have the right to steal any or all of your information!</p>


</div>