@page
@model SFAMarketplaceWEB.Pages.Account.ProfileModel

@* @section Styles {
    <link rel="stylesheet" href="~/css/ProfileStyleSheet.css" />
}
 *@

<div class="row m-2">
    <div class="col-2">
        <label>First Name: </label>
    </div>
    <div class="col-10">
        <label>@Model.profile.FirstName</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        <label>Last Name: </label>
    </div>
    <div class="col-10">
        <label>@Model.profile.LastName</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        <label>Email: </label>
    </div>
    <div class="col-10">
        <label>@Model.profile.Email</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        <label>Login: </label>
    </div>
    <div class="col-10">
        <label>@Model.profile.LastLoginTime</label>
    </div>
</div>

@* <div class="profile-container">
    <h2>Congratulations, You've successfully logged in</h2>
    <img src="https://i.imgur.com/HD25R6v.jpeg" alt="Welcome Image" class="welcome-image" />
</div> *@
